apiVersion: apps/v1
kind: Deployment
metadata:
  name: opa
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: opa
  template:
    metadata:
      labels:
        app: opa
    spec:
      containers:
      - name: opa
        image: openpolicyagent/opa:edge-rootless
        ports:
        - containerPort: 8181
        args:
        - "run"
        - "--server"
        - "--log-level=debug"
        - "--log-format=json"
        - "/policies/policy.rego"
        volumeMounts:
        - mountPath: /policies
          name: policy-volume
      volumes:
      - name: policy-volume
        configMap:
          name: opa-policy
